/*
| _________________________________________________
|
|	Global.scss
| _________________________________________________
|
|	Create global.css file which include all the
|	css rules that will be loaded by all pages.
|
*/

@import 
	"normalize",
	"foundation/functions",
	"foundation/settings",
	"foundation/components/global",
	"foundation/components/grid",

	"typography",
	"variables";

/* Common rules
---------------- */
html, body {
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	font-family: $baseFontFamily;
	color: $baseTextColor;
}

body {
	@extend .row;
}
