/*
| _________________________________________________
|
|   Variables
| _________________________________________________
|
*/

/* Colors
---------- */
$softBlack: rgb(40,40,40);

/* Typography
-------------- */
$baseLineHeight: 1.5 !default;
$baseFontSize: 14px !default;
$baseFontFamily: 'Open Sans', sans-serif;
$baseTextColor: $softBlack;
